<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Application de voiture</title>
</head>
<body>
  <h1 class="text-center text-success">{{ title }}</h1>
  <!--<h3> Rechercher une voiture ?</h3>
  <form action="" class="form">
    <input #input (keyup) = "selectVoiture(input.value)" type="number"  class="form-control">
  </form>
  <p *ngIf="voitureSelected">La voiture sectionnee est : {{ voitureSelected.marque }}</p>
  <h3>Decouvrez les voitures de vos reves...</h3>-->
  <div class="col-12 container-fluid">
    <div class="row justify-content-center align-items-center" voiture>
      <div class="col-md-3 col-sm-12 d-column card m-3" *ngFor="let voiture of voitureList" voitureEffetCar="red">

          <div class="col-12">
            <img src="{{voiture.picture}}" alt="{{ voiture.marque}}" class="img-fluid w-100" >
          </div>
          <div class="fw-bold">
            <p>Marque : {{ voiture.marque}}</p>
            <p>Type : {{ voiture.type}}</p>
            <p>Poids : {{ voiture.poids}}</p>
            <p>Date fabrication : {{ voiture.created | date : "dd-MM-YY"}}</p>
          </div>



      </div>

    </div>

  </div>
  <div class="container d-flex justify-content-center align-items-center m-2">
    <a href="" ><button class="btn btn-warning text-white p-2">Voir plus</button></a>
  </div>

</body>
</html>